body {
    height: 100vh;
    width: 100%;
    background-color: slategray;
    color: white
}

a, navbar-brand {
    margin-left: 8px;
}

p {
    color: aquamarine;
}

#title-logo {
    margin: 50px;
}

.navbar-toggler {
    margin-right: 5px;
}

.navbar-brand {
    position: absolute;
    top: 0px;
}

.navbar-collapse {
    margin-left: 110px;
}

#login {
    padding: 10%;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}
