{% extends "base.html" %}
{% block content %}

    <main class="container" id="login">
        <div class="container-fluid">
            <div class="row justify-content-evenly">
                <div class="col-12 col-md-6 log-cols">
                    <img id="title-image" src="../static/images/title.png" alt="">
                    <h2>The confession of evil works is the beginning of good works</h2>
                </div>
                <div class="col-12 col-md-6 log-cols">
                    <h1>Good to see you again!</h1>
                    <h2>New here? Register now</h2>
                    <button class="button-52" role="button">Login</button>
                </div>
            </div>
        </div>
    </main>

{% endblock %}