{% extends "base.html" %}
{% block content %}

<main class="container" id="login">
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-12 col-md-6 log-cols">
                <img id="title-image" class="img-fluid" alt="Responsive image" src="../static/images/title.png">
            </div>
            <div class="col-12 col-md-6 log-cols">
                <!-- login form -->
                <form method="POST" action="{{ url_for('home') }}">
                    <div class="card bg-dark" id="login-card">
                        <div class="card-body">
                            <!-- username -->
                            <input type="text" id="username-login" name="username-login"
                                class="form-control login-inputs" placeholder="Username" aria-label="username" required>
                            <!-- password -->
                            <input type="password" id="password-login" name="password-login"
                                class="form-control login-inputs" placeholder="Password" aria-label="password" required>
                        </div>
                        <button class="button-52-5" type="submit" role="button">Login</button>
                    </div>
                </form>
                <div class="d-flex justify-content-center">
                    <a href="{{ url_for('register') }}"><button class="button-52" role="button">Create New
                            Account</button></a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}