{% extends "base.html" %}
{% block content %}

{% for post in posts %}
<div class="card bg-dark post-card">
  <div class="card-header">
    {{ post.post_title }}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ post.post_content }}</p>
      <footer class="blockquote-footer">{{ post.post_user }}</footer>
    </blockquote>
  </div>
  <a href="{{ url_for('edit_post', post_id=post.id) }}" role="button" class="btn btn-success">Edit</a>
</div>
{% endfor %}

{% endblock %}